VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_FOLDER_COLLECTION_ID=folders
VITE_APPWRITE_NOTES_COLLECTION_ID=notes
VITE_APPWRITE_SHARES_COLLECTION_ID=shares
VITE_APPWRITE_BUCKET_ID=your_personal_bucket_id
VITE_APPWRITE_PREMIUM_BUCKET_ID=your_private_premium_bucket_id
VITE_APPWRITE_PROFILE_COLLECTION_ID=profiles
VITE_APPWRITE_PREMIUM_CONTENT_COLLECTION_ID=premiumContent
VITE_APPWRITE_PREMIUM_STARS_COLLECTION_ID=premiumStars
VITE_APPWRITE_PAYMENTS_COLLECTION_ID=payments
VITE_APPWRITE_CREATE_ORDER_FUNCTION_ID=create-order
VITE_APPWRITE_VERIFY_PAYMENT_FUNCTION_ID=verify-payment
VITE_APPWRITE_PREMIUM_DOWNLOAD_FUNCTION_ID=secure-premium-file
VITE_APPWRITE_ADMIN_PREMIUM_FUNCTION_ID=admin-premium
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
VITE_ADMIN_EMAIL=muditjain298@gmail.com